.header,
.form {
	position: relative;
}

.form {
	width: 100%;
	margin: auto;
}

.form .header {
	padding: 5px;
	background-color: #252839;
}

.header .inner-header {
	font-size: 2em;
	text-align: center;
	color: white;
}

.form .footer {
	padding: 5px;
	background-color: #252839;
}

.footer .inner-footer {
	color: white;
}

.form .body {
	padding: 20px;
	/* background-color: whitesmoke; */
}

.body .control {
	margin-top: 5px;
	width: 100%;
}

.control.has-controls {
	display: flex;
}

.control.has-controls .control:first-child {
	padding-right: 5px;
}

.control.has-controls .control:last-child {
	padding-left: 5px;
}

.control .label {
	text-align: left;
	display: block;
	padding: 5px 0;
}

.control .textbox {
	width: 100%;
	padding: 5px 14px;
}

.control textarea.textbox {
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	max-height: 150px;
}

.control .btn {
	width: 100%;
	margin-top: 5px;
	padding: 8px 16px;
	/*background-color: #677077;*/
	color: white;
}
/*
.control .btn:hover {
	background-color: #546979;
}

.control .btn:active {
	background-color: #496072;
}

.control .message {
	padding: 8px 14px;
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
}
.error {
	color: #D8000C;
	background-color: #FFD2D2;
}*/
