.form * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 1em;
	font-weight: normal;
}

.form input,
.form button,
.form textarea {
	outline: none;
	border-radius: none;
}

body {
	font-family: 'Lato', sans-serif;
}
