body
{
	position:absolute;
	top:0px;
	color:#243239;
	background-color: white;
}

.main input
{
	font-size: 25px;
}

.big-title
{
	position: relative;
	top: 0px;
	left: 0px;
	height: 300px;
	padding: 50px;
	background-image: url("/images/background-desk.jpg");
	background-size: 100% 500px;
	background-position:center;
	background-repeat:no-repeat;
	box-shadow: 0 0 5px 2px lightgrey;
}

.big-title h1
{
	color: white;
	font-size: 60px;
	position: relative;
	top: calc(50% - 50px);
}

.footer
{
	position:absolute;
	left: 0;
	bottom: 0;
}

.textbox, .control input
{
	border: 1px solid lightgrey;
	font-size: 20px;
}

textarea
{
	border: 1px solid lightgrey;
}

textarea:hover
{
	border: 1px solid #009cff;
}


.textbox, .control input, textarea
{
	margin: 5px 0 5px 0;
}

.textbox:hover , .control input:hover
{
	border: 1px solid #009cff;
}

.inf
{
	margin: 50px 50px 0 50px;
	font-size: 20px;
	text-align: left;
}

.inf p
{
	font-family: Quicksand;
	font-weight: 100;
	font-size:16px;
}

#about
{
	font-size: 16px;
}

#about p
{
	font-family: Quicksand;
	font-weight: 100;
}

.main
{
	max-width: 1280px;
	min-width: 1000px;
	padding-top: 50px;
	margin: auto;
}

.article h1
{
	text-align:center;
	font-family: Raleway;
	color: #37474F;
}

.navbar ul
{
	box-shadow: none;
}

.navbar #navbar-help
{
	display:none;
}

.btn
{
	background-color: #009cff;
}

.navbar-transparent,
.navbar-transparent ul
{
	background-color: rgba(0, 0, 0, .4);
}


.dark-back
{
	margin-top: 50px;
}

.wordmap
{
	width:100%;
	max-width: 1280px;
	height: 100px;
	margin: auto;
	padding-top: 50px;
	background-color: lightgrey;
}
