body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

.main, .main * {
	box-sizing: border-box;
}

.messages {
	position: relative;
	padding: 10px;
}

.messages .msg-subject {
	padding: 8px;
	border-left: 5px solid #888;
	border-bottom: 1px solid #888;
}

.messages .msg-text {
	display: none;
	font-weight: normal;
}

.messages .msg-text.show {
	display: block;
}

.tab {
	display: none;
}

.tab.show {
	display: block;
}

.sidenav {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #333;
}

.sidenav .items {
	padding: 0;
	margin: 0;
}

.sidenav .items li {
	list-style-type: none;
	width: 100%;
}

.sidenav .items .item {
	display: block;
	padding: 14px 16px;
	text-align: center;
	color: white;
	cursor: pointer;
}

.sidenav .items .item:hover {
	background-color: #666;
}

.msg_box {
	display: none;
	position: absolute;
	bottom: 4px;
	right: 4px;
	width: 50%;
	background-color: whitesmoke;
	box-shadow: 2px 2px 5px 1px #888;
}

.msg_box.show {
	display: block;
}

.msg_box .btn {
	width: 20%;
}
