.cookie-popup {
	z-index: 3;
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, .7);
	color: white;
}

.cookie-popup .text {
	padding: 12px;
}

.btn-close {
	position: absolute;
	right: 0;
	padding: 2px;
	color: tomato;
	font-size: 20px;
	cursor: pointer;
}
