<%
let users = locals.usersArray;
function padZeros(nbr) {
	if (nbr <= 9)
		return ('0' + nbr);
	return (nbr);
}
function formatDate(date) {
	let	strDate = '';

	date = new Date(date);
	strDate = date.getFullYear() + '-' + padZeros(date.getMonth() + 1) + '-' + padZeros(date.getDate());
	strDate += ' ' + padZeros(date.getHours()) + ':' + padZeros(date.getMinutes());
	return (strDate);
}
let	i = 0;
%>
<!DOCTYPE html>
<html>
<head>
	<title>Messages</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/ini.css" />
	<link rel="stylesheet" type="text/css" href="/css/grid.css" />
	<link rel="stylesheet" type="text/css" href="/css/forms.css" />
	<link rel="stylesheet" type="text/css" href="/css/messages.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	<style>
	.messages .user_messages {
		display: none;
	}
	.messages .user_messages.show {
		display: block;
	}
	</style>
</head>
<body>
	<div class="main row">
		<div class="col-2">
			<nav class="sidenav col-2">
				<ul class="items">
					<li><span class="item" data-role="item" data-section="#inbox">Inbox</span></li>
					<li><span class="item" data-role="msg_box" data-section="#msg_box">Send message</span></li>
				</ul>
			</nav>
		</div>
		<div class="col-10 tabs">
			<div id="inbox" class="messages tab show">
				<div class="row">
					<div class="col-4">
						<%
							i = 0;
							users.forEach(function (usr) {
								i++;
						%>
								<h3 class="user-info" data-role="display_msg" data-target="#usrmsg_<%= i %>" ><%= usr.fname + ' ' + usr.lname %></h3>
								<b><%= usr.email %></b>
						<% 	}); %>
					</div>
					<div class="col-8 messages">
						<% i = 0; users.forEach(function (usr) { i++;%>
							<div id="usrmsg_<%= i %>"class="user_messages">
							<% usr.messages.forEach(function (msg) { %>
								<div class="message">
									<h4>Subject: <%= msg.subject + ' | ' + formatDate(msg.date)%></h4>
									<% msg.replies.forEach(function (reps) { %>
									<div class="replies">
										<div class="reply">
											<span><b>from:</b> <%= reps.from + ' | ' + formatDate(reps.date) %></span>
											<p class="text"><%= reps.text %></p>
										</div>
									</div>
									<% }); %>
								</div>
							<% }); %>
							</div>
						<% }); %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="msg_box" class="msg_box">
		<form class="form" method="post" enctype="application/json">
			<div class="body">
				<div class="control">
					<input class="textbox" type="text" placeholder="To" name="to" />
				</div>
				<div class="control">
					<input class="textbox" type="text" placeholder="Subject" name="subject" />
				</div>
				<div class="control">
					<textarea class="textbox" type="text" placeholder="Text" name="text"></textarea>
				</div>
				<div class="control">
					<button class="btn" type="submit">Send</button>
				</div>
			</form>
		</div>
	</div>
	<script>
	$('.msg-subject').click(function () {
		let	textId = $(this).attr('data-message');
		$('#' + textId).toggleClass('show');
	});
	$('span[data-role=item]').click(function () {
		let	textId = $(this).attr('data-section');
		$('.tabs .tab').removeClass('show');
		$(textId).addClass('show');
	});
	$('[data-role=display_msg]').click(function () {
		let target = $(this).attr('data-target');
		$('.messages .user_messages').removeClass('show');
		$(target).addClass('show');
	});
	$('span[data-role=msg_box]').click(function () {
		let	textId = $(this).attr('data-section');
		$(textId).toggleClass('show');
	});
	</script>
</body>
</html>
