<!DOCTYPE html>
<html>
  <head>
    <title>Crynel</title>
    <link rel="stylesheet" href="/css/ini.css" type="text/css">
    <link rel="stylesheet" href="/css/grid.css" type="text/css">
    <link rel="stylesheet" href="/css/forms.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
	<link rel="stylesheet" href="/css/theme.css" type="text/css">
	<link rel="stylesheet" href="/css/main.css" type="text/css">
	<link rel="stylesheet" href="/css/popup.css" type="text/css">
	<script src="/js/popup.js"></script>
	<meta charset="utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC|Play|Raleway|Unica+One|Rajdhani|Gamja+Flower|Lato|Thasadith|Quicksand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Julius+Sans+One|Montserrat+Subrayada|Orbitron|Rajdhani|Rubik+Mono+One|Russo+One|Six+Caps" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  </head>
  <div class="navbar"></div>
  <body>
	<div class="big-title">
		<h1>Contact us</h1>
	</div>
	<section class="main row">
			<div class="col-6 infos">
				<div class="inf">
					<p>
Thank you for your interest in Crynel cyber security products and services. If you would like to learn more, or have questions and wish to speak with a representative, please take a moment to complete our form and we will contact you shortly. If you need immediate assistance with an incident, please view our Incident Response e-mail or numbers.
					</p>
					<div id="about">
						<div class="row">
							<p class="col-6">Phone number: </br><b>+212 654265428</b></br></br>
							Office location:  </br><b>1337, Khouibga
							</br>GPS : 32.882163,-6.897713.</b></p>
							<p class="col-6">Office hours: </br><b>Monday to Friday, 8AM to 7PM</b></br></br>
							Our support e-mail: </br><b>support@crynel.info</b></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6">
				<form class="form" method="post" enctype="application/json">
					<div class="body">
						<div class="control has-controls">
							<div class="control">
								<input class="textbox" type="text" placeholder="First name" name="fname" value="Ussef" />
							</div>
							<div class="control">
								<input class="textbox" type="text" placeholder="Last name" name="lname" value="Bhl" />
							</div>
						</div>
						<div class="control">
							<input class="textbox" type="text" placeholder="Email" name="email" value="ussef@email.info" />
						</div>
						<div class="control">
							<select class="textbox" name="role">
								<option id="0">Role</option>
								<option id="1">Platform user</option>
								<option selected="true" id="2">Software developer</option>
								<option id="3">Engeneer exec/manager</option>
								<option id="4">Product Managment</option>
								<option id="5">Marketing</option>
								<option id="6">Security and Compilance</option>
								<option id="7">Other</option>
							</select>
						</div>
						<div class="control">
							<input class="textbox" type="text" placeholder="Subject" name="subject" value="test" />
						</div>
						<div class="control">
							<textarea class="textbox" placeholder="Describe your problem" name="text">just a text for testing purpose !!!!"</textarea>
						</div>
						<div class="control">
							<button class="btn" type="submit">Contact</button>
						</div>
					</div>
				</form>
			</div>
	</section>
	<!-- <section class="dark-back">
		<div class="wordmap">
			<img width="100%" src="/images/continents.png">
		</div>
	</section> -->
	<div class="popup" id="popup"></div>
</div>
	</section>
	<div class="cookie-popup">
		<span class="btn-close">&times;</span>
		<div class="text">
			By using our site, you acknowledge that you have read and understand our Cookie Policy, Privacy Policy, and our Terms of Service.
		</div>
	</div>
	<div class="footer"></div>
  </body>
<script>
	$(".footer").load("/inc/footer.inc");
	$(".navbar").load("/inc/navbar.inc");
	$(".popup").load("/inc/popup.inc");

	$(window).scroll(function() {
		var $height = $(window).scrollTop();
	  if($height < 130) {
			$('.navbar').addClass('navbar-transparent');
		} else {
			$('.navbar').removeClass('navbar-transparent');
		}
	});
	popup('.cookie-popup', 'cookie-popup');
	$("script").remove();
</script>
</html>
