<canvas class="speed-counter" style="background-color:#263238; border-radius:10px;" width="500px" height="300px" style="border:1px solid black;">5 0 500 10</canvas>


<script>

setInterval(refresh_counters(), 10);

function refresh_counters()
{
	console.log("called refresh update");
	var elements = document.getElementsByClassName("speed-counter");
	for (var index = 0; index < elements.length; index++)
		animate_update(elements[index], elements[index].innerHTML.split(' ')[3]);
	console.log("ended refresh update");
}


function update_counter(canvas, value)
{
	var info = canvas.innerHTML.split(' ');
	var ctx = canvas.getContext("2d");
	var j = 0;
	
	if (value > 100)
		value = 100;
	else if (value < 0)
		value = 0;

	ctx.fillStyle="#ffffff";
	ctx.clearRect(0,0,500,300);
	ctx.beginPath();
	ctx.font = "30px Rajdhani";
	while (j <= info[0])
	{
		ctx.fillText((parseInt(info[1]) + Math.round(j * ((info[2] - info[1]) / info[0]))), 230 + 200 * Math.cos((info[0] - j) * Math.PI / info[0]), 220 - 180 * Math.sin(j * Math.PI / info[0]))
		j++;
	}

	ctx.lineWidth=30;
	ctx.strokeStyle="#577e8b";
	ctx.arc(250,220,140, Math.PI, 0);
	ctx.stroke();
	ctx.beginPath();
	ctx.font = "50px Rajdhani";
	ctx.fillText(value + "%", 210, 220);
	ctx.strokeStyle="rgb(" + (value * 2.5) + "," + (208 - value * 2) + ",0)";
	ctx.arc(250,220,140, Math.PI, Math.PI + value * Math.PI / 100);
	ctx.stroke();
}

var i = 0;
var counter = document.getElementsByClassName("counter-flow");
var temp = 0;


function animate_update(element, limit)
{
	if (i < limit)
	{
		setTimeout(function() { animate_update(element, limit)}, 20 - (20 * Math.sin((limit - i)/(limit - temp) * 3.14 / 2)));
		i++;
		update_counter(element, i);
	}
	else if (i > limit)
	{
		setTimeout(function() { animate_update(element, limit)}, 20 - (20 * Math.sin((limit - i)/(limit - temp) * 3.14 / 2)));
		i--;
		update_counter(element, i);
	}
	if (i == limit)
		temp = i;
}
</script>
