<div id="paypal-button"></div>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
  paypal.Button.render({
    // Configure environment
    env: 'sandbox',
    client: {
      sandbox: 'AelJ-dz5F9SeLQ-liiaRfHvCVfXL6xZA3suwbs27hTso56lpMxF6d7M2O5Kd1Eg96ONvB3rm-Br3AAN_',
      production: 'production_client_id'
    },
    // Customize button.
    locale: 'en_US',
    style: {
      size: 'small',
      color: 'gold',
      shape: 'pill',
    },

    // Enable Pay Now checkout flow.
    commit: true,

    // Set up a payment.
    payment: function(data, actions) {
      return actions.payment.create({
        transactions: [{
          amount: {
            total: '9.00',
            currency: 'USD'
          }
        }]
      });
    },
    // Execute the payment
    onAuthorize: function(data, actions) {
      return actions.payment.execute().then(function() {
        // Show a confirmation message to the buyer
        window.alert('Crynel Team thank you a lot for your purchase and support!');
      });
    }
  }, '#paypal-button');

</script>
