<% let i = 0; let user = locals.user; %>
<%
function padZeros(nbr) {
	if (nbr <= 9)
		return ('0' + nbr);
	return (nbr);
}
function formatDate(date) {
	let	strDate = '';

	date = new Date(date);
	strDate = date.getFullYear() + '-' + padZeros(date.getMonth() + 1) + '-' + padZeros(date.getDate());
	strDate += ' ' + padZeros(date.getHours()) + ':' + padZeros(date.getMinutes());
	return (strDate);
}
%>
<!DOCTYPE html>
<html>
<head>
	<title>Messages</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/ini.css" />
	<link rel="stylesheet" type="text/css" href="/css/grid.css" />
	<link rel="stylesheet" type="text/css" href="/css/forms.css" />
	<link rel="stylesheet" type="text/css" href="/css/messages.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>
<body>
	<div class="main row">
		<div class="col-2">
			<nav class="sidenav col-2">
				<ul class="items">
					<li><span class="item" data-role="item" data-section="#messages">Messages</span></li>
					<li><span class="item" data-role="msg_box" data-section="#msg_box">Send message</span></li>
				</ul>
			</nav>
		</div>
		<div class="col-10 tabs">
			<div id="messages" class="messages tab show">
				<% user.messages.forEach(function (msg) { i++; %>
				<h4 class="msg-subject" data-message="inbox_<%= i %>">
					Subject: <%= msg.subject %>
					<div id="inbox_<%= i %>" class="msg-text">
						<% msg.replies.forEach(function (rep) { %>
						<div class="reply">
							<span><b>from: </b><%= rep.from === 'user' ? 'me' : 'admin' %></span>
							<span><b>, date: </b> <%= formatDate(rep.date) %></span>
							<p>
								<span><b>text:</b></span>
								<%= rep.text %>
							</p>
						</div>
						<%  }); %>
					</div>
				</h4>
				<% }); %>
			</div>
		</div>
	</div>
	<div id="msg_box" class="msg_box">
		<form class="form" method="post" enctype="application/json">
			<div class="body">
				<div class="control">
					<input class="textbox" type="text" placeholder="Subject" name="subject" />
				</div>
				<div class="control">
					<textarea class="textbox" type="text" placeholder="Text" name="text"></textarea>
				</div>
				<div class="control">
					<button class="btn" type="submit">Send</button>
				</div>
			</form>
		</div>
	</div>
	<script>
	$('.msg-subject').click(function () {
		let	textId = $(this).attr('data-message');
		let	obj = $('#' + textId);
		obj.toggleClass('show');
	});
	$('span[data-role=item]').click(function () {
		let	textId = $(this).attr('data-section');
		$('.tabs .tab').removeClass('show');
		$(textId).addClass('show');
	});
	$('span[data-role=msg_box]').click(function () {
		let	textId = $(this).attr('data-section');
		$(textId).toggleClass('show');
	});
	</script>
</body>
</html>
